.navbar {
    z-index: 2;
    position: fixed;
    color: white;
  }
  .nav-item {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
      color:white;
      font-family: 'Roboto', sans-serif;
      margin: 0 auto;
      padding: 35px;
  }

  .navbar-light .navbar-nav .nav-link.active {
    color:white;
}

  @media only screen and (max-width: 990px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 10px;
    }
  }